.allNav .navBar {
  position: relative;
  background-color: #dbb109;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: inherit;
  color: #FFFFFF;
  padding: 1.5em;
}

.navBar #tweeter {
  font-family: 'Bungee', cursive, sans-serif;
  font-size: 45px;
}

.navBar #arrows {
  display: flex;
  justify-content: center;
  color: rgb(190, 52, 52);
}

